.menu-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding-top: 1em;
  @media screen and (max-width: 635px) {
    justify-content: center;
    align-items: center;
    padding-left: 1em;
    flex-direction: column;
  }

  .menu-heading {
    width: 184px;
    height: 16px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 16px;
  }

  .menu-company,
  .menu-support,
  .menu-account {
    display: flex;
    flex-direction: column;
    justify-content: center;
    a {
      width: 184px;
      height: 35px;
      opacity: 0.8;
      color: #ffffff;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0.3px;
      line-height: 16px;
      text-decoration: none;
    }
    @media screen and (max-width: 635px) {
      text-align: center;
    }
  }
}
