.reviews {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  height: 232px;
  width: 100%;
  background-color: grey;
  @media screen and (max-width: 940px) {
    height: auto;
    padding: 2em 0;
    align-items: fle;
  }
}
